<!doctype html>
<html lang="es">

<%- include("includes/head") %>

<body class="bg-dark text-light">
<%- include("includes/navbar") %>

<div class="container py-4">
    <h1>Personajes</h1>

    <div class="row">
        <% personajes.forEach(personaje => { %>
            <div class="col-md-4 mb-4">
                <div class="card bg-secondary text-light h-100">
                    <img src="/images/<%= personaje.img %>" class="card-img-top" alt="<%= personaje.nombre %>">
                    <div class="card-body">
                        <h5 class="card-title"><%= personaje.nombre %></h5>
                        <p class="card-text"><%= personaje.descripcion %></p>
                    </div>
                </div>
            </div>
        <% }) %>
    </div>
</div>

<%- include("includes/footer") %>
</body>
</html>